######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/
/target/
*/target/*

######################
# Directories
######################
/bin/
/deploy/
/out/
/dist/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*